# Applied at /data
# Defines workloads that authenticate to /conjur/authn-jwt/agentic

- !policy
  id: agentic
  body:
    - !group

    - &hosts
        - !host
            id: system:serviceaccount:lg-agent:lg-agent
            annotations:
                authn-jwt/agentic/sub: system:serviceaccount:lg-agent:lg-agent

    - !grant 
        role: !group
        members: *hosts

